.light{
    --primary:hsl(22, 100%, 60%);
    --accent:hsl(44, 100%, 60%);
    --background:hsl(0, 0%, 97%);
    --foreground:hsl(0, 0%, 5%);
    
}
.dark{
    --primary:hsl(22, 100%, 40%);
    --accent:hsl(44, 100%, 40%);
    --background:hsl(0, 0%, 3%);
    --foreground:hsl(0, 0%, 95%);
}